<mat-toolbar color="primary">
  <span>Weather App</span>
</mat-toolbar>
<mat-card>
  <form class="weather-form" [formGroup]="weatherFormGroup">
    <h2>Enter coordinates or select city: </h2>
    <mat-form-field appearance="fill">
      <mat-label>Lattitude</mat-label>
      <input matInput type="number" formControlName="lattitude">
      <span class="material-icons" matSuffix>
        location_on
        </span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Longitude</mat-label>
      <input matInput type="number" formControlName="longitude">
      <span class="material-icons" matSuffix>
        location_on
        </span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select formControlName="city">
        <mat-option *ngFor="let city of cities" [value]="city.lat+','+city.long">{{city.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="search-btn" [disabled]="searchDisabled" (click)="getWeather()">Search</button>
  </form><hr><br>
  <div *ngIf="results">
    <h2>Current Weather Conditions</h2>
    <mat-list>
      <mat-list-item> Temperature: {{results.temperature}} C</mat-list-item>
      <mat-list-item> Conditions: {{getWeatherCode(results.weathercode)}}</mat-list-item>
      <mat-list-item> Wind Speed: {{results.windspeed}} mph</mat-list-item>
      <mat-list-item> Wind Direction: {{results.winddirection}}</mat-list-item>
      <mat-list-item> Date: {{results.time}} </mat-list-item>
     </mat-list>
  </div>
</mat-card>
